@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    box-sizing: border-box;
}
 body{ 
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: small;
    width: 100%;
    padding: 2px;
}

nav > div{
    position: relative;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

nav button{
    background-color: black;
    border: none;
    color: white;
    margin: 5px;
    font-size: medium;
}
.cart > button{
    border: 2px solid greenyellow;
    border-radius: 15%;
}
.cart > p{
    font-size: large;
}

header,span,.album > h5,.bottom,.price-cart,.merches>h5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

header{
    background-color: grey;
    font-size: 100px;
    height: 200px;
}
.title{
    margin-top: 15px;
    font-size: 45px;   
}

.music-category,.merch-category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0px 15%;
}

.album,.merches{
    margin: 0px 80px;
}
img{
    width: 300px;
    height: 300px;
}
.album > h5,.merches>h5{
    font-size: large;
    font-family: 'Silkscreen', cursive;
}

.price-cart {
    justify-content: space-between; 
}
.price-cart > button{
    background-color: rgb(68, 179, 223);
    padding: 5px;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 5%;
}


.merch > span > button,.cart-section > span > button{
    margin-top: 50px; 
    margin-bottom: 30px;
    padding: 10px;
    background-color: black;
    color: white; 
    border: none;
    font-size: medium;
    border-radius: 8%;

} 

.bottom {
    justify-content: space-around;
    background-color: rgb(61, 167, 209);
}

.bottom > .socials{
    display: flex;
    flex-direction: row;
}
.socials > a > span{
    margin: 15px;
    color: white;
}

.title > p{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}


/* cart items */

.cart-section{
    background-color: white;
    display: none;
    position: fixed;
    top: 50px;
    right: 5px;
    width: 350px;
}
/* .cart-section-show{
    display: block;
} */
.close{
    position: absolute;
    right: 10px;
    top: 20px;
}

.cart-section > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul > ul > img {
margin-top: 20px;
}

ul>ul> p,ul>ul>.inner-quant{
margin-top: 50px;
}

.cart-section > ul >li{
    margin: 0px 20px;
}
.total{
    position: absolute;
    right: 20px;
}
.cart-section > ul >li{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.item > img {
    width: 50px;
    height: 50px;
}
.inner-quant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100px; 
}
.inner-quant > p{
    margin: 0;
    width: 10px;
}

#notification{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 5%;
    right: 10px;
    bottom: 5px;
    width: 300px;
    height: 80px;
    background-color: rgb(153, 229, 153);
    color: black;
}
